
// seccion barra de navegacion
$font-stack:Helvetica, sans-serif;
$color-yellow:#FACC2E;
$color-black:#000000;
$color-white:#fff;
$color-bluelight:#B6ECEC;
$color-red:#FF4C2C;
@import 'variables';

.navbar-default {
    background-color:$color-yellow;
    border-color:$color-yellow;
    position: fixed;
    width: 100%;
    .navbar-nav li a {
        @include large-text;
        // color:$color-black;
        // color:#000000;
    }    
}
.navbar-nav li{
    font-size: 1.3125rem;
    line-height: 1.3125rem;    
    border: 2px solid transparent;
    padding: 10px 16px;
    text-decoration: none;
    &:hover{
        border-color:$color-white;
    }
}
// creando mixins
@mixin large-text {
    font: {
      family: Arial;
      size: 20px;
      weight: bold;
    }
    color: #ff0000;
  }
          
// seccion portada
.contportada{
    background-image: "https://assets.awwwards.com/awards/sites_of_the_day/2017/10/Fanny-Myard-cover.jpg";
    height: 500px;
    margin-top: 10px;
}
.contportada { 
    img {
    margin-top: 60px;
    width: 200px;
    height: 200px;
    }
    p {
        font-size: 30px;
        color: #000000;
        font-size: 20px;
    }    
}

// seccion portafolio
.portafolios div {
    display: inline-block;
    margin: 5px 5px 10px 50px;
    margin-right: 8px;
    
    img {
        width: 100px;
        height: 300px;
        margin: 0 0 5px;
    }
}
// seccion contacto
.contacto{
    input {
        margin-left: 300px;
        margin-top: 15px;
        width: 70%;
        display: inline-block;
        margin: 0 0 10px;
      }
       button {
        margin-top: 15px;
        margin-left: 300px;
        display: inline-block;
        margin: 0 0 10px;
    }
} 
// seccion location
#loc2 {
    div {
        display: inline-block;
        margin: 1px 5px 5px 170px;
    }
     a {
        display: inline-block;
        margin: 1px 2px 5px 3px;
    }
    img {
        width: 50px;
        height: 50px;
    }
}

// @media screen and (max-width: 750px) {
//   .barranav {
//     display: none;
//     background-color:$color-red;
//   }
// }